.chat-side
  .chat-side_user-name
    .top-items
      %p.top-items__name hogehoge
      %ul.top-items__icons
        %li= icon('far', 'edit', class: "icon-edit")
        %li= icon('fa', 'cog', class: "icon-cog")
  .side-bar_group-list
    %ul.side-bar_group
      %li.side-bar_group-name グループ名
      .side-bar_group-message こんにちは
      %li.side-bar_group-name グループ名
      .side-bar_group-message こんにちは