* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  height: 100vh;
}

.chat-side{
  width: 300px;
  &_user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .top-items{
      height: 20px;
      width: 260px;
      background-color: #253141;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-weight: bold;
        color: #ffffff;
        display: flex;
        align-items: center;
      }
      &__icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon-edit{
          margin-right: 5px;
          .icon{
            color: #ffffff;
          }
        }
        .icon-cog{
          .icon{
            color: #ffffff;
          }
        }
      }
    }
  }
  .side-bar_group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .side-bar_group{
      background-color: #2f3e51;
      padding: 0px 20px;
      padding-top: 20px;
      &-name{
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 5px;
        color: #ffffff;
      }
      &-message{
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 40px;
        color: #ffffff;
      }
    }
  }
}

.chat-main{
  background-color: #ffffff;
  width: calc(100% - 300px);
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    .chat_main__current-group{
      margin-top: 35px;
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .chat-main__member-list{
      display: flex;
      list-style: none;
      .chat-main__member{
        font-size: 12px;
        color: #999999;
        }
      .chat-main__member-name{
        font-size: 12px;
        margin-left: 3px;
        color: #999999;
      }
    }
    .Contents__btn{
      padding: 6px 0px 0px 20px;
      margin-top: 28px;
      border: 1px;
      color: #38aef0;
      font-size: 16px;
      width: 72px;
      height: 40px;
      border-style: solid;
      &__Edit{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .chat-main__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    &__leftbox{
      margin-left: 40px;
      margin-top: 0px;
      padding-top: 35px;
      padding-bottom: 0px;
      display: flex;
      .chat-main__message-parts{
        margin-bottom: 0px;
        .chat-main__poster{
          margin-bottom: 12px;
          display: flex;
          align-items: flex-start;
          &-name{
            font-size: 15px;
            font-weight: bold;
            color: #333333;
          }
          &-date{
            font-size: 12px;
            margin-left: 7px;
            color: #999999;
          }
        }
      }
      .chat-main__message{
        margin-bottom: 10px;
        font-size: 14px;
        color: #434A54;
        
      }
    }
  }
  .chat-main__message-form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .new_message{
      display: flex;
      width: 100%;
      .contents-box{
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        &__input-box{
          font-size: 15px;
          height: 50px;
          width: 100%;
          padding: 0 10px;
          color: #333333;
          border-style: none;
        }
        &__image-icon{
          right: 10px;
          position: absolute;
          font-size: 25px;
        }
        &__image_file{
          display: none;
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        border-style: none;
      }
    }
  }
}